body {
    background-color: #f6e1b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    margin: 0;
}
/*name settings*/
h1 {
    font-size: 6.5rem;
    color: #936535;
    text-align: center;
    width: 100%;
    margin:0;
}
#name_container {
   position: relative;
    width: fit-content
    display: flex;
    margin: 10% auto;
}
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width:100%;
}

#gear_container{
    position: relative;
    margin:-2% auto;
    height: 0;
    width:40%;
   justify-content: center;
    align-items: center;
    
}

/*button settings*/

button {
    padding: 0.625rem 1.25rem;
    font-size: 1.2rem;
    background-color: #936535;
    color: #f6e1b5;
   
   
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 360px;
    width: 360px;
}

button:hover {
    box-shadow: 0 0.5rem 1rem 0 #904a00, 0 0.4rem 1.25rem 0 #904a00;
    transform: translateY(-2px);
}


